:root{
        --crimson: #669DB3FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar .max-width{
    max-width:1300px;
    padding: 0 80px;
    margin: auto;
}

section{
    padding: 100px 0;
}

section .title{
    font-family: sans-serif;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    color: var(--crimson);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    color: #fff;
    background: var(--crimson);
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    text-align: center;
    z-index: 9999;
    font-size: 35px;
    line-height: 40px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.scroll-up-btn:hover{
    background: #fff;
    color: var(--crimson);
}

/**************** navbar-styling ******************/

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: var(--crimson);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #00dbde;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: white;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #00dbde;
    transition: all 0.3s ease;
}

.navbar.sticky .menu li a:hover{
    color: #c2e59c;
}

.menu-btn{
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
/*******************Home section************************/
.home{
    display: flex;
/*    background-image: linear-gradient(#0b8793,#fff);*/
    background-image: linear-gradient(#0b8793,#fff);
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    margin: auto 200px;
}

.home .max-width img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 50%;
}
.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: var(--crimson);
}

.home .home-content .text-3 span.typing{
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite; 
    transition: all 0.3s ease;
    color: #fff;
}

.home .home-content a{
    display: inline-block;
    background: #0b8793;
    font-size: 25px;
    padding: 18px 36px;
    color: aliceblue;
    margin-top:20px;
    border-radius: 5px;
    border: 2px solid #0b8793;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    background: none;
    color: #0b8793;
}

/***********************About Section*************************/

.about .title::after{
    content: "Who Am I";
}

.about .about-content,.service .serv-content,.skills .skills-content,.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
    text-align: center;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

.about .about-content .left img:hover{
    border: 5px solid var(--crimson);
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: var(--crimson);
}

.about .about-content .right .text span.typing-2{
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite; 
    transition: all 0.3s ease;
}

@keyframes animate{
    0%,18%,30%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #373B44;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #00dbde,0 0 20px #00dbde,0 0 40px #00dbde,0 0 80px #00dbde,0 0 160px #00dbde;
    }
}

.about .about-content .right p{
    text-align: justify;
    word-break: keep-all;
    margin-right: 20px;
    line-height: 30px;
}

.about .about-content .right a{
    display: inline-block;
    background: var(--crimson);
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 600;
    color: aliceblue;
    margin-top:20px;
    border-radius: 5px;
    border: 2px solid var(--crimson);
    transition: all 0.3s ease;
}

.about .about-content .right a.mywork{
    color: var(--crimson);
    background: none;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: var(--crimson);
    background: none;
}

.about .about-content .right a:hover.mywork{
    background: var(--crimson);
    color: #fff;
}

.about .coding_platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.about .coding_platforms a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about .coding_platforms button{
    display: inline-block;
    background: var(--crimson);
    font-size: 25px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top:20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.about .coding_platforms button.hackerrank{
    background: lightgreen;
    border: 2px solid lightgreen;
}

.about .coding_platforms button.hackerrank:hover{
    background: #fff;
    color: green;
    box-shadow: 0 0 10px lightgreen, 0 0 40px lightgreen, 0 0 80px lightgreen;
}

.about .coding_platforms button.leetcode{
    background: #f5b051;
    border: 2px solid #f5b051;
}

.about .coding_platforms button.leetcode:hover{
    background: #fff;
    color: #f5b051;
    box-shadow: 0 0 10px #f5b051, 0 0 40px #f5b051, 0 0 80px #f5b051;
}

.about .coding_platforms button.github{
    background: #222;
    border: 2px solid #222;
    color: #fff;
}

.about .coding_platforms button.github:hover{
    background: #fff;
    color: #222;
    box-shadow: 0 0 10px #555, 0 0 40px #555, 0 0 80px #555;
}

.about .coding_platforms button img{
    width: 20px;
    height: 20px;
}

/***********************Service section************************/
.service{
    background: #111;
    color: aliceblue;
}

.service .title::before{
    width: 230px;
    background: #fff;
}

.service .title::after{
    background: #111;
    content: "What I Provide";
}

.service .serv-content .card{
    background: #222;
    width: calc(33% - 20px);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

.service .serv-content .card:hover{
    background: var(--crimson);
}

.service .serv-content .card .box{
    transition: all 0.3s ease;
}

.service .serv-content .card:hover .box{
    transform: scale(1.05);
}

.service .serv-content .card i{
    color: var(--crimson);
    font-size: 50px;
}

.service .serv-content .card:hover i{
    color: aliceblue;
} 

.service .serv-content .card .text{
    font-size: 25px;
    margin: 10px;
}

.service .serv-content .card p{
    line-height: 35px;
    word-break: keep-all;
}

.service .serv-content .card p span{
    color: var(--crimson);
}

.service .serv-content .card:hover p span{
    color: #fff;
    text-decoration: underline;
}

/**********************Skills Section*******************/

.skills .title::before{
    width: 170px;
}

.skills .title::after{
    content: "What I Know";
}

.skills .skills-content .column{
    width: calc(50% - 80px);
    padding: 10px;
    border: 2px solid var(--crimson);
    border-radius: 5px;
}

.skills .skills-content .column:hover{
    box-shadow: 0 0 10px #73C8A9, 0 0 20px #73C8A9, 0 0 40px #73C8A9, 0 0 80px #73C8A9;
    cursor: pointer;
}

.skills .skills-content{
    margin: 20px;
}

.skills .skills-content .left .text,.skills .skills-content .right .text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.skills .skills-content .column p{
    font-size: 15px;
    line-height: 30px;
    word-break: keep-all;
}

.skills .skills-content .column p a:hover{
    color: var(--crimson);
    text-decoration: underline;
}

/************************contact section******************/

.contact{
    padding-top:50px; 
    background-color: #485461;
}

.contact .title::before{
    width: 210px;
}

.contact .title::after{
    content: "Get In Touch";
    background: #485461;
}

.contact .contact-content{
    margin: 30px;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .column .text{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 5px;
}

.contact .contact-content .left p{
    text-align: justify;
    color: #333;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    color: var(--crimson);
    font-size: 25px;
}

.contact .contact-content .row .head{
    font-weight: 550;
}

.contact .contact-content .row .sub-title{
    color: var(--crimson);
}

.contact .contact-content .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
}

.contact .right form .fields .name{
    margin-right: 10px;
}

.contact .right form .fields .email{
    margin-left: 10px;
}

.contact .right form .field{
    margin-top: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    outline: none;
}

.contact .right form button{
    margin-top: 10px;
    background: var(--crimson);
    color: #fff;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid var(--crimson);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form button:hover{
    color: var(--crimson);
    background: none;
}

/**********************footer section*********************/

footer{
    background: #222;
    padding: 20px 23px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

footer span a{
    color: var(--crimson);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}
/***********************media query************************/
@media screen and (max-width:600px){
    .navbar .max-width{
        padding: 0 50px;
    }
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active{
        left: 0;
    }
    
    .navbar .menu li{
        display: block;
        margin: 20px 0;
    }
    
    .navbar .menu li a{
        display: inline-block;
        font-size: 20px;
    }

    .home .max-width{
        margin: auto 10px;
    }
    
    .home .max-width .home-content{
        text-align: center;
        width: 100%;
    }
    
    .home .home-content .text-2{
        font-size: 30px;
    }
    
    .home .home-content .text-3{
        font-size: 25px;
    }
    
    .home .home-content .text-3 .typing{
        color: #fff;
    }
    
    .home .home-content a{
        font-size: 20px;
        padding: 13px 25px;
    }
    
    .home .home-content a:hover{
        color: #fff;
    }
    
    .about .about-content {
        display: block;
    }
    
    .about .about-content .column{
        margin: 0 auto 60px;
    }
    
    .about .about-content .left{
        width: 100%;
    }
    
    .about .about-content .right{
        width: 100%;
        text-align: center;
    }
    
    .about .about-content .right .text{
        font-size: 20px;
    }
    
    .about .about-content .right p{
        text-align: center;
        font-size: 15px;
        margin-right: 1px;
    }
    
    .about .coding_platforms button{
        display: block;
    }
    
    .service .serv-content .card{
        width: 100%;
        margin: 5px;
    }
    
    .skills .skills-content .column{
        width:100%;
        margin-bottom: 10px;
    }
    
    .contact .contact-content .column{
        width: 100%;
        margin: 10px;
    }
    
}